* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    background-color: white;
}
footer {
    background-color: rgb(24, 22, 22);
}
/* classi e id header prima section */
header section div {
    height: 150px;
}
.mainmenu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 5px;
    color: white;
}
#logo {
    display: flex;
    background-image: url(https://global-uploads.webflow.com/5e157548d6f7910beea4e2d6/62a07b53139aec4c1fd07771_discord-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#link {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}
#login {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
}
.Titolo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 5px;
}
/* classi seconda section header */
.sottomenu {
    margin: 0 auto;
    max-width: 80%;
    margin-top: 5%;
}
h1 {
    font-size: 56px;
    color: white;
}
.descrizione {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin: 0 auto;
    max-width: 60%;
    padding: 10px;
    color: white;
    font-size: larger;
}
/* css bottoni e div dei bottoni */
.pulsanti {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    margin: 0 auto;
    max-width: 80%;
    font-size: larger;
}
.pulsantesmall {
    display: flex;
    justify-content: center;
    flex-basis: 10%;
    align-items: center;
    background-color: lightskyblue;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 10px;
    cursor: pointer;
    text-decoration: none;

}
.pulsanteaccedi {
    background-color: white;
    color: rgb(24, 22, 22);
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}
.pulsantemac {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    align-items: center;
}
.button1 {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    align-items: center;
    background-color: white;
    border-radius: 20px ;
    height: 30%;
    width: 40%;
    cursor: pointer;
    text-decoration: none;
}
.button2 {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    align-items: center;
    background-color: rgb(24, 22, 22);
    color: white;
    border-radius: 20px ;
    height: 30%;
    width: 40%;
    cursor: pointer;
    text-decoration: none;
}
.button3 {
    background-color: lightskyblue;
    color: white;
    border-radius: 20px ;
    height: 30%;
    width: 40%;
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
}
/* inizio main */
.grancontainerbianco  {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
}
.grancontainergrigio {
    margin: 0 auto;
    max-width: 100%;
    background-color: lightgrey;
    padding: 20px;
}
main section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 500px;
}
main .sectiongrigia2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 1000px;
}
.div1-1 {
    width: 65%;
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div1-2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 46px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.section1 .section2 .section3 div p {
    font-size: 16px;
    color: rgb(24, 22, 22);
    font-size: larger;
}
.div2-1 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div2-2 {
    width: 65%;
    background-image: url(../img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div3-1 {
    width: 65%;
    background-image: url(../img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div3-2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divcolonna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divcolonna h2 p{
    display: flex;
}
.scrittasopra .scrittasotto {
    height: 10%;
}
.div4-1 {
    width: 100%;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 78%;
}
h4 {
    font-size: 46px;
    padding-bottom: 10px;
}
.button3 {
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* inizio footer */
.finale {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}
.colonnarosa {
    width: 27%;
    background-color: rgb(24, 22, 22);
}
.colonne {
    width: 19%;
    background-color: rgb(24, 22, 22);
}
.colonnarosa h4 {
    color: lightskyblue;
}
ul li {
    margin-left: 2em;
    list-style-type: none;
    padding: 5px;
    color: white;
}
#sezione {
    font-size: 16px;
    color: lightskyblue;
}
hr {
    border: 1px solid lightskyblue;
    margin-bottom: 100px;
    margin: 0 auto;
    max-width: 80%;
}
.piedipagina {
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
}
.logofinale {
    display: flex;
    flex-basis: 30%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvzDuPPzrbpDxbyqTFnSRJH7qF2AW-b8KkPw&usqp=CAU);
    background-size: contain;
    background-repeat: no-repeat; 
    height: 50px;
}
.registrazione {
    display: flex;
    flex-basis: 70%;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 80%;
    font-size: larger;
}