* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    background-color: white;
}
footer {
    background-color: rgb(39, 32, 32);
}
/* classi e id header prima section */
header section div {
    height: 150px;
}
.mainmenu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 5px;
    color: white;
}
#logo {
    display: flex;
    flex-basis: 25%;
}
#link {
    flex-basis: 48%;
    display: flex;
    justify-content: center;
}
#login {
    display: flex;
    flex-basis: 25%;
    justify-content: flex-end;
}
.Titolo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 5px;
}
/* classi seconda section header */
.sottomenu {
    margin: 0 auto;
    max-width: 80%;
    margin-top: 5%;
}
h1 {
    font-size: 56px;
    color: white;
}
.descrizione {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin: 0 auto;
    max-width: 60%;
    padding: 10px;
    color: white;
    font-size: larger;
}
.pulsanti {
    display: flex;
    max-width: 100%;
    margin-bottom: 200px;
    margin: 0 auto;
    max-width: 60%;
    font-size: larger;
}
.button1 {
    display: flex;
    justify-content: center;
    flex-basis: 48%;
}
.button2 {
    display: flex;
    justify-content: center;
    flex-basis: 48%;
}
/* inizio main */
.grancontainerbianco  {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
}
.grancontainergrigio {
    margin: 0 auto;
    max-width: 100%;
    background-color: lightgrey;
    padding: 20px;
}
main section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 500px;
}
main .sectiongrigia2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 1000px;
}
.div1-1 {
    width: 65%;
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div1-2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 46px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.section1 .section2 .section3 div p {
    font-size: 16px;
    color: rgb(24, 22, 22);
    font-size: larger;
}
.div2-1 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div2-2 {
    width: 65%;
    background-image: url(../img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div3-1 {
    width: 65%;
    background-image: url(../img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div3-2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divcolonna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divcolonna h2 p{
    display: flex;
}
.scrittasopra .scrittasotto {
    height: 10%;
}
.div4-1 {
    width: 100%;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 78%;
}
h4 {
    font-size: 46px;
    padding-bottom: 10px;
}
.button3 {
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* inizio footer */
.finale {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}
footer .finale div {
    height: 500px;
    border: 2px dotted black;
}
.colonnarosa {
    width: 27%;
    background-color: pink;
}
.colonne {
    width: 19%;
    background-color: aqua;
}
hr {
    background-color: lightgrey;
    border: 2px solid lightgrey;
    margin: 0 auto;
    max-width: 80%;
}
.piedipagina {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    background-color: aqua;
    height: 5px;
    margin-top: 10px;
}